body {
    background-image: url(img/bg.jpg);
}

.DD {
    position: absolute;
    margin-left: 530px;
}

.CC {
    position: absolute;
    margin-top: 80px;
    margin-left: 570px;
}

.NN {
    position: absolute;
    margin-top: 100px;
    margin-left: 500px;
}